<div class="main">
    <div class="page-wrap">
        <nav>
            <a target="_blank" href="http://jakelewis.com.au/docs/Jacob_Lewis_CV_2017.docx">CV</a>
            <a target="_blank" href="https://www.linkedin.com/in/jacob-lewis-8b67a548">LinkedIn</a>
        </nav>
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer>
        <h2>Technical Resources</h2>
        <ul>
            <li>
                <a target="_blank" href="https://web-design-weekly.com/">Web Design Weekly</a>
                <a target="_blank" href="https://css-tricks.com">CSS Tricks - Chris Coyier</a>
                <a target="_blank" href="https://tympanus.net/codrops/">Codrops</a>
            </li>
        </ul>
    </footer>
</div>
